body {
  display: block;
  background-color: #b7eefd;
}

.Card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 25%;
  height:35%;
  cursor: pointer;
  transform-style: preserve-3d;
	transform: perspective(2500px);
  transition: 1s;
}

.Card:hover {
	transform: perspective(2500px) rotate(5deg);
	box-shadow: inset 10% 2% 10% rgba(0,0,0,.2), 0 1% 10% rgba(0,0,0,0.5);
}

.Card:hover .cardFront {
  transform: rotateY(-160deg); 
}

.Card:hover .happy {
  visibility:hidden; 
}

.Card:hover .image {
  visibility:hidden;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 25%;
  height:35%;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 10% 2% 10% rgba(0,0,0,.2), 3% 0 5% rgba(0,0,0,0.4);
  transition: .6s;
}

.happy {
  font-family: 'Rufina', serif;
  text-align: center;
  margin:3%;
  transition: .1s;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 20%;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width:25%;
  height:35%;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 10% 2% 10% rgba(0,0,0,0.2);
}

p {
  font-family: 'Kalam', cursive;
  font-size: medium;
  margin:25px;
  max-height: 350px;
  text-align: left;
  display: block;
  color: #333;
}