body {
  display: flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  background-color: #aa5eac;
}

.Card {
  position: relative;
  width: 250px;
  height:350px;
  cursor: pointer;
  transform-style: preserve-3d;
	transform: perspective(2500px);
  transition: 1s;
}

.Card:hover {
	transform: perspective(2500px) rotate(5deg);
	box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 0 10px 100px rgba(0,0,0,0.5);
}

.Card:hover .cardFront {
  transform: rotateY(-160deg); 
}

.Card:hover .happy {
  visibility:hidden; 
}

.Card:hover .image {
  visibility:hidden;
}

.cardFront {
  position: relative;
  background-color: #fff;
  width: 250px;
  height:350px;
  overflow: hidden;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,.2), 30px 0 50px rgba(0,0,0,0.4);
  transition: .6s;
}

.happy {
  font-family: 'Cooper';
  text-align: center;
  margin:30px;
  transition: .1s;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

.cardInside {
  position: absolute;
  background-color: #fff;
  width: 250px;
  height:350px;
  z-index:-1;
  left:0;
  top:0;
  box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
}

p {
  font-family: 'Kalam';
  text-align: left;
  display: block;
  margin:50px;
  width:200px;
  height:250px;
  color: #333;
}

.name {
  position: absolute;
  left:auto;
  top:auto;
  color: #333;
}
